@media screen {
 
 html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.btn-outline-*
.footer {
    height: 60px;
    background-color:   #e6e6ff;
    border-top: 1px solid #ddd;
    padding-top: 20px;
	margin-top: 22%;
	
}


tr:first-child>td>.fc-day-grid-event {
    margin-top: 2px;
    height: 15px;
	 background-color:#e6e6ff;
	
	 color:  black;
}
.fc-day-grid-event {
    margin-top: 2px;
    height: 20px;
	color:  black;
	font-weight:bold;
	border-color:white;
	margin-top: 3px;
	
}

.schedual-months .fc-day-grid-event {
    margin: 2px;
    height: 10px;
	font-size:10px;
	
	border:none;
	
	
	
}

.navbar-brand {

float: left;
}
.navbar-toggle
{
float: right;
}


.schedual-months .fc-month-view{
   height:10%;
	}

/*.datepicker-orient-left{
 background-color:white;
 position: absolute;
 top: 114px;
    right: 0%;
   
}*/


.fc-month-view{

 height:40%;


}
.fullcalendar.fc.fc-unthemed.fc-rtl{
 background-color:#ffffff;

}
.fc-time-grid-container{
display:none;
}
.select2-search__field{
display:none;
}
.fc-widget-content{
 height: 350px;

}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*//////////////// calender style///////////////////////*/

.fc-basic-view .fc-body .fc-row {
    /*min-height: 4em;*/
	 height: 250px;
	 /*width:500px;*/
}
/*//////////////////////////////////////////////////////////////////*/

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
	 box-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 5px darkblue;
	/*box-shadow:box-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;*/
}

/*#adadb2*/
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
   color:white;
  //*  background-color: #ddd;*/
}

.container {
   /* text-align: left;*/
    font-weight: bold; 
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

}
